<div class="govuk-form-group">
  <label class="govuk-label" for="event-name">
    From
  </label>
  <div id="event-name-hint" class="govuk-hint">
  For example 2021 or 05/05/2021
</div>
  <input class="govuk-input" id="event-name" name="event-name" type="text">
</div>
<div class="govuk-form-group">
  <label class="govuk-label" for="event-name">
    To
  </label>
  <div id="event-name-hint" class="govuk-hint">
  For example 2021 or 05/05/2021
</div>
  <input class="govuk-input" id="event-name" name="event-name" type="text">
</div>

<div class="govuk-form-group">
<label class="govuk-label" for="sort">
Search for a title or url
<input class="govuk-input" id="event-name" name="event-name" type="text">
</label>
</div>


<div class="govuk-form-group">
<label class="govuk-label" for="sort">
Document type
</label>
<select class="govuk-select" id="sort" name="sort">
<option value="published">All document types</option>
<option value="updated" selected></option>
<option value="views">AAIB Report</option>
<option value="comments">About</option>
<option value="comments">About our services</option>
<option value="comments">Access and opening</option>
<option value="comments">Accessible documents policy</option>
<option value="comments">Answer</option>
<option value="comments">Asylum support decision</option>
<option value="comments">Authored article</option>
</select>
</div>

  <div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Organisation
  </label>
  <select class="govuk-select" id="sort" name="sort">
    <option value="published">All organisations</option>
    <option value="updated" selected></option>
    <option value="views">No primary organisation</option>
    <option value="comments">Academy for Justice Commissioning</option>
    <option value="comments">Academy for Social Justice</option>
    <option value="comments">Academy for Social Justice Commissioning</option>
    <option value="comments">Accelerated Access Review (AAR)</option>
    <option value="comments">Accelerated Capability Environment (ACE)</option>
  </select>
</div>


<div class="govuk-button-group">
<button class="govuk-button" data-module="govuk-button">
Filter
</button>

<a class="govuk-link" href="#">Clear all filters</a>
</div>
<hr>

<p class="govuk-body-s govuk-!-margin-top-6"> <a class="govuk-link" href="#">Download all CSV file</a> </p>
