<div class="govuk-blue-background">
  <div class="govuk-width-container govuk-!-padding-top-6 govuk-!-padding-bottom-6">
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl" style="color:white">Help us improve content data app</h1>
      <p class="govuk-body" style="color:white">
        Hello, we want to understand how you use Content Data app to make sure it works well for you and we’d love your feedback. You can tell us about your experience of using the app by completing this short questionnaire. It will take about 5 minutes and most questions are multiple choice.
      </p>
      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          View questionnaire
        </button>
        <a class="govuk-link" href="#">Hide this</a>
      </div>
    </div>
  </div>
  </div>
</div>
