<h2 class="govuk-heading-m">Filters</h2>
<div class="govuk-form-group">
  <label class="govuk-label" for="event-name">
    From
  </label>
  <div id="event-name-hint" class="govuk-hint">For example 2021 or 05/05/2021</div>
  <input class="govuk-input" id="event-name" name="event-name" type="text">
</div>
<div class="govuk-form-group">
  <label class="govuk-label" for="event-name">To</label>
  <div id="event-name-hint" class="govuk-hint">For example 2021 or 05/05/2021</div>
  <input class="govuk-input" id="event-name" name="event-name" type="text">
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Search for a title or url
    <input class="govuk-input" id="event-name" name="event-name" type="text">
  </label>
</div>
{% set types = documentType %}
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset govuk-fieldset-max-height">
    <legend class="govuk-fieldset__legend">Document type</legend>
    <div class="govuk-input__wrapper">
      <div class="govuk-input__prefix" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 50" width="50" height="40"><path d="M25.7 24.8L21.9 21c.7-1 1.1-2.2 1.1-3.5 0-3.6-2.9-6.5-6.5-6.5S10 13.9 10 17.5s2.9 6.5 6.5 6.5c1.6 0 3-.6 4.1-1.5l3.7 3.7 1.4-1.4zM12 17.5c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5z" fill="currentColor"/></svg></div>
      <input onkeyup="documentType()" class="govuk-input" id="document-type-input" name="document-type-input" type="text" spellcheck="false">
    </div>
    <div class="govuk-checkboxes govuk-checkboxes--small" id="document-type-list"  data-module="govuk-checkboxes">
      {% for item in types %}
      <div class="govuk-checkboxes__item" id="document-type-name">
        <input class="govuk-checkboxes__input" id="type-{{loop.index}}" name="type" type="checkbox" value="{{item}}">
        <label class="govuk-label govuk-checkboxes__label"  for="type-{{loop.index}}">
          {{item}}
        </label>
      </div>
      {% endfor %}
    </div>
  </fieldset>
</div>
{% set organisation = organisation %}
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset govuk-fieldset-max-height">
    <legend class="govuk-fieldset__legend">
        Organisation
    </legend>
    <div class="govuk-input__wrapper">
      <div class="govuk-input__prefix" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 50" width="40" height="40"><path d="M25.7 24.8L21.9 21c.7-1 1.1-2.2 1.1-3.5 0-3.6-2.9-6.5-6.5-6.5S10 13.9 10 17.5s2.9 6.5 6.5 6.5c1.6 0 3-.6 4.1-1.5l3.7 3.7 1.4-1.4zM12 17.5c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5z" fill="currentColor"/></svg></div>
      <input onkeyup="organisationType()" class="govuk-input" id="organisation-input" name="organisation-input" type="text" spellcheck="false">
    </div>
    <div class="govuk-checkboxes govuk-checkboxes--small" id="organisation-list" data-module="govuk-checkboxes">
      {% for each in organisation %}
      <div class="govuk-checkboxes__item" id="organisation-name">
        <input class="govuk-checkboxes__input" id="organisation-{{loop.index}}" name="organisation" type="checkbox" value="{{each}}">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-{{loop.index}}">
          {{each}}
        </label>
      </div>
      {% endfor %}
    </div>
  </fieldset>
</div>
<div class="govuk-button-group">
<a class="govuk-button" data-module="govuk-button" href="multi-select-results">
Filter
</a>
<a class="govuk-link" href="#">Clear all filters</a>
</div>
<hr>
<p class="govuk-body-s govuk-!-margin-top-6"> <a class="govuk-link" href="#">Download all CSV file</a></p>
