<!--Data for the table can be found in the folder data > table.json. It is then loaded in using the routes.js file-->
<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Showing 676,523 results for all document types from all organisations</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Page title</th>
      <th scope="col" class="govuk-table__header">Document type</th>
      <th scope="col" class="govuk-table__header">Unique page views <br /> <a href="/help/?hkey=upviews" class="table__header-help"><img alt="Help" src="/public/images/question_mark_inverse.svg"></a></th>
      <th scope="col" class="govuk-table__header">Users who found page useful <br /> <a href="/help/?hkey=upviews" class="table__header-help"><img alt="Help" src="/public/images/question_mark_inverse.svg"></a></th>
      <th scope="col" class="govuk-table__header">Searches from page <br /><a href="/help/?hkey=upviews" class="table__header-help"><img alt="Help" src="/public/images/question_mark_inverse.svg"></a></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <!--We need to create a for loop which says for every row generate this code. We load in our JSON from the routes.js file and then for every item generate the row and cells-->
    {% set results = table %}
    {% for item in results %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <a class="content-item__link" href="/single-view">{{item.Title}}</a>
          <br>
          <span class="base-path">{{item.url}}</span>
        </td>
        <td class="govuk-table__cell">{{item.DocumentType}}</td>
        <!--For numbers we needed to create a Nunjucks filter which can be found in the filters.js file. The filter turns a number into a comma seperated value-->
        <td class="govuk-table__cell govuk-table__cell--numeric">{{item.UniquePageViews | commaSeperated}}</td>
        <td class="govuk-table__cell">{{item.PageUseful}}<span class="satisfaction-column__responses"> ({{ item.yesUseful + item.noUseful }} responses)</span></td>
        <td class="govuk-table__cell">{{item.SearchesFromPage | commaSeperated}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{{ govukPagination({
  next: {
    labelText: "2 of 6,766",
    href: "#"
  }
}) }}
