// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;
$govuk-page-width: 1020px;
// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import ".tmp/sass/extensions";

// Patterns that aren't in Frontend
@import "patterns/contents-list";
@import "patterns/mainstream-guide";
@import "patterns/pagination";
@import "patterns/related-items";
@import "patterns/task-list";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.govuk-inset-text{
  background:#f3f2f1
}

.govuk-wider-container{
  max-width: 1600px
}
//Table styles
.govuk-table__header{
  color: #0b0c0c;
  position: sticky;
  top: 0;
  white-space: nowrap;
  vertical-align: top;
  padding: 15px;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  outline: 1px solid #bfc1c3;
  background-color: #dee0e2;
  font-weight: normal;
}

.govuk-table{
  font-size: 14px;
  border: 1px solid grey;
}

.govuk-table__caption{
  font-size: 16px;
}

.govuk-table__row .govuk-table__cell:nth-child(even){
    background-color: #f8f8f8;
  }

.govuk-table__row .govuk-table__cell{
  padding: 10px;
}

//Filter styling
.govuk-select{
  width: 100%;
}

.govuk-details-radios{
  padding-left: 20px;
  border-left: 5px solid #bfc1c3;
}

//Header styling
.govuk-header__navigation-list{
  float: right;
}

//Help us improve content app styling
.govuk-blue-background{
  background: #1d70b8;
  color:white;
}

.govuk-blue-background .govuk-link{
  color: white;
}

.govuk-blue-background .govuk-button{
  background: white;
  color: #1d70b8;
  font-weight: bold;
}

.content-item__link{
  font-weight: bold;
  margin-bottom: 12px;
}

.govuk-blue-section-break{
  border-top:2px solid #005ea5
}
