<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h2 class="govuk-heading-l">Showing data from past 30 days</h2>
    {{ govukDetails({
      summaryText: "Change time period",
      classes: "govuk-body-s",
      text: "We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post."
    }) }}
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <h3 class="govuk-heading-m">Unique page views</h3>
    <span class="govuk-stat">8.13m</span>

  </div>
  <div class="govuk-grid-column-one-quarter">
    <h3 class="govuk-heading-m">Users who found page useful</h3>
    <span class="govuk-stat">67%</span>
    <p class="govuk-body-s">
      Out of 6,078 responses
    </p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <h3 class="govuk-heading-m">Searches from page</h3>
    <span class="govuk-stat">2.7k</span>
    <p class="govuk-body-s">
      0.03% of users searched from the page
    </p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <h3 class="govuk-heading-m">Feedback comments</h3>
    <span class="govuk-stat">230</span>
  </div>
</div>
