<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h2 class="govuk-heading-l">Searches from page</h2>
    <p class="govuk-body-s">
      Number of on-page searches
    </p>
    {{ govukDetails({
      summaryText: "About searches from page",
      classes: "govuk-body-s",
      text: "This is the number of internal site searches that were started from the page. When people use internal search, it could be an indication that they haven't found what they're looking for. You'll need access to Google Analytics to see the search terms. Source: Google Analytics"
    }) }}
    <h3 class="govuk-heading-l">2,702</h3>
    <img width="100%" src="public/images/searches-from-page.png" />
    <!--Graphic-->
    {{ govukDetails({
      summaryText: "Searches from page table",
      classes: "govuk-body-s",
      text: "This is the number of internal site searches that were started from the page. When people use internal search, it could be an indication that they haven't found what they're looking for. You'll need access to Google Analytics to see the search terms. Source: Google Analytics"
    }) }}
    <p class="govuk-body-s"><a href="#" class="govuk-link" target="_blank">See search terms in Google Analytics (opens in new tab)</a></p>
  </div>
</div>
