{% extends "layout.html" %}

{% set containerClasses = "govuk-wider-container" %}

{% block pageTitle %}
  Custom date ranges
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  <!--Hacking this slightly to close the div that constrains the width to allow the blue box to go full width - not recommended!-->
  </div>
  {% include "includes/help-us-improve-content-data-app.html" %}
  <div class="govuk-width-container govuk-wider-container">
{% endblock %}

{% block content %}
  {% include "includes/ga-notice-banner.html" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third-from-desktop">
      {% include "includes/filters-option-two.html" %}
    </div>
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {% include "includes/table.html" %}
    </div>
  </div>
{% endblock %}
